body{
background-color: #DCDCDC;
}

.div1{
background-color: white;
height: 500px;
width: 50vw;
border: black 10px;
border-style: dotted;
display: flex ;
flex-direction: column;
justify-content:center;


}

.div2{
background-color: yellow;
height: 50px;
width: 30%;

}

.div3{
background-color: rgb(252, 78, 15);
height: 100px ;
width: 30%;


}

.div4{

    background-color: rgb(6, 155, 6);
color: white;
font-size: 30px;
padding: 50px;
margin-top: 50px;
margin-left: 50px;
}